@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: regular;
}

.container {
  max-width: 1020px;
  margin: 3rem auto;
}

.pages {
  text-transform: capitalize;
  font-weight: lighter;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  display: flex;
}

.drop-down input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: 0;
  background: rgb(226, 223, 223);
  width: 200px;
}

.icons * {
  margin: 0 0.5rem;
}

.btn {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.2rem;
}

.patient-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts {
  width: 600px;
}
